[submodule "FoundryLottery/lib/solmate"]
	path = FoundryLottery/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "FoundryLottery/lib/foundry-devops"]
	path = FoundryLottery/lib/foundry-devops
	url = https://github.com/ChainAccelOrg/foundry-devops
[submodule "RealEstate/lib/forge-std"]
	path = RealEstate/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "MultiSigWallet/lib/forge-std"]
	path = MultiSigWallet/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
